@import url("whitespace-reset.css");

body {
  font: normal 18px Helvetica, Arial, sans-serif;
  color: #45494d;
}

a {
  text-decoration: none;
  color: #222;
}

img {
  max-width: 100%;
}

p {
  margin: 15px 0;
}

h1, h2, h3 {
  margin: 1em 0;
}

h1, h2 {
  color: #6a65ff;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  color: #222;
}

h4 {
  margin-top: 1em;
}

.site-info {
  float: left;
}

.site-info a {
  font-size: 28px;
}

nav {
  float: right;
}

nav a {
  margin-left: 15px;
}
.clearfix {
  clear: both;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

header {
  background: #425aff;
}

.masthead {
  padding: 20px 0;
}

.masthead a, .masthead p {
  color: #fff;
}

.masthead a:hover {
  color: #000;
}

.entry a {
  color: #425aff;
}

.entry a:hover {
  font-weight: bold;
  font-size: 20px;
}

.svg-icon {
  text-align: center;
  font-size: 20px;
  padding:20px;
}

footer {
  background: #eee;
}

footer a {
  display: inline-block;
}

.fa {
  color: #425aff;
}
